@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply min-h-screen;
}

.investment-form {
  @apply bg-[#f6fbff]  p-9 space-y-4 rounded-lg mb-6;
}

.investment-form label {
  @apply text-[#003A72] font-black;
}

.investment-form input {
  @apply border p-2 rounded-lg border-[#B1B6BE] ring-0 outline-0;
}

.investment-form button[type="submit"] {
  @apply border-0 px-6 py-3 bg-[#003A72] rounded-lg text-white font-black cursor-pointer;
}
.investment-form button[type="button"] {
  @apply border-0 px-6 py-3 bg-none rounded-lg text-[#003A72] font-black cursor-pointer;
}

table thead td {
  @apply pb-4;
}
table tbody td {
  @apply border-t border-t-gray-200 py-3;
}
